/*--------------------------------------------------------------
# Fonts available
--------------------------------------------------------------*/

@font-face {
  font-family: futuraLight;
  src: url(../fonts/futura-light.ttf);
}

@font-face {
  font-family: futuraMedium;
  src: url(../fonts/futura-medium.otf);
}

@font-face {
  font-family: futuraBold;
  src: url(../fonts/futura-bold.otf);
}

@font-face {
  font-family: futuraBook;
  src: url(../fonts/futura-book.ttf);
}

@font-face {
  font-family: futuraControl;
  src: url(../fonts/FuturaNewHeavy.otf);
}


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-track {
  background: #e1e5e7;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 3px solid black;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.nav-f-white {
  background-color: white !important;
}


/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/

.color-white{
  color: #FFFFFF;
}

.color-gray-light {
  color:#F8F2F2;
}

.color-gray-semilight {
  color: #D9D9D9;
}

.color-gray-bold{
  color: rgba(112, 112, 112, .5);
}

.color-gray-semibold {
  color: #B5B0B0D0;
}

.color-black {
  color: #000000;
}


/*--------------------------------------------------------------
# Sizes
--------------------------------------------------------------*/

.size-menu-item{
  font-size: 22px;
}

.size-font-section{
  font-family: futuraBold;
  font-size: 4rem;
}


/*--------------------------------------------------------------
# Lines height options
--------------------------------------------------------------*/

.line-height-section {
  line-height: 90%;
  margin-top: 10px;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #e1e5e7;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #57aae1;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.nav-white{
  background: #FFFFFF 0% 0% no-repeat padding-box;
}

.nav-brown{
  background: #d3cece 0% 0% no-repeat padding-box;
  opacity: .9;
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #384046;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #384046;
  text-decoration: none;
}

#header .logo img {
  max-height: 50px;
}

/*--------------------------------------------------------------
# Header Social Links
--------------------------------------------------------------*/
.header-social-links {
  margin: 0 0 0 30px;
}

.header-social-links a {
  color: black;
  display: inline-block;
  line-height: 0px;
  transition: 0.3s;
}

.header-social-links a i {
  line-height: 0;
}

@media (max-width: 768px) {
  .header-social-links {
    margin: 0 15px 0 0;
  }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/

.menu-nav-width{
  width: 70%;
}

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {

  padding: 10px 0 10px 30px;
  white-space: nowrap;
  transition: 0.3s;

  font-size: 22px;
  letter-spacing: 0px;
  opacity: 1;
}

.item-dropdown-menu {
    font-family: futuraBook;
    color: #000000;
    font-size: 1rem;
}

.item-dropdown-submenu{
  font-family: futuraLight;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: rgba(255, 255, 255, .65);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 400;
  color: #000;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #707070;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #384046;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(33, 38, 42, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #384046;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #3498db;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #3498db;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}


/*--------------------------------------------------------------
# Collections Section
--------------------------------------------------------------*/

#collection-body-collection {
  width: 100%;
  height: 75vh;
  background-size: cover;
  position: relative;
  padding: 0;
}

.section-title-collection{
  padding: 0;
  margin-top: 5rem;
}

.cll-title{
  line-height: 90%;
  margin-top: 10px;
}

.section-body-collection{
  padding: 0;
}


#collections-section {
  width: 100%;
  height: 90vh;
  padding: 0;
  background-color: #e4e3e2;
}

.text-collections {
  width: 70%;
}

.collection-image {
  height: 60vh;
  width: 100%;
}

/*--------------------------------------------------------------
# wall Section
--------------------------------------------------------------*/
#wall-section {
  width: 100%;
  height: 75vh;
  padding: 0;
  background-color: #c3bfbf;
}

/*--------------------------------------------------------------
# Organizers Section
--------------------------------------------------------------*/
#organizers {
  width: 100%;
  height: 90vh;
  padding: 0;
}

.square-organizers {
  width: 100%;
  height: 60vh;
  background-color: #c3bfbf;
}

.card-organizer-item{
  background-color: #c3bfbf;
  height: 250px;
}

/*--------------------------------------------------------------
# System Section
--------------------------------------------------------------*/
#system-section {
  width: 100%;
  height: 90vh;
  background: #F8F2F2 0% 0% no-repeat padding-box;
  margin-top: 99px;
  padding: 0;
}

.system-p1{
  font-size: 15em;
  color: rgba(255, 255, 255, 0.8);
  font-family: futuraControl;
  letter-spacing: -30px;
  margin-left: 150px;
  line-height: 90%;
}

.system-system{
  font-size: 3em;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0px;
  font-family: futuraBook;
}


@media (max-width: 992px) {
  #system-section {
    height: calc(100vh - 70px);
  }
}

 .container-system {
   display: flex;
   justify-content: center;
   align-items: flex-end;
   height: 80%;
 }

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #f7fbfe;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #3498db;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}


@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: white;
}

#footer .footer-newsletter {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.footer-top .container {
  display: flex;
}

.footer-container-logo{
  width: 302px;
  background-color: black;
  box-sizing: border-box;
  padding: 12px 30px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
}

.instagram{
  font-size: 1.1rem;
}

.button-languaje{
  margin-left: 40px;
  font-size: 1.1rem;
  font-family: futuraBook;
}

.call-action-area-collections{
  background-color: #e1e5e7;
  padding: 30px 0 0 5px;
}

.call-action-area-collections h2{
  color: #747372;
  font-size: 130px;
  font-weight: 900;
  line-height: 100%;
  margin-left: 100px;
}

.color-gray-dark {
  color: #534f4f;
}

.m-controls-center {
  display: none !important;
}

.w-controls-center {
  display: block;
}

@media (max-width: 768px) {

  .menu-nav-width {
    width: 90%;
  }

  #collection-body-collection{
    height: 175px;
  }

  .container-main-bottom-controls{
    margin-bottom: 5px;
  }

  .container-main-right-controls {
    height: 100% !important;
  }

  .container-center-bottom-controls{
    width: 80% !important;
  }

  .phaino-letter-control {
    font-size: 12px !important;
  }

  .phaino-control-square{
    width: 11px !important;
    height: 11px !important;
  }

  .phaino-control-rectangle {
    width: 39px !important;
    height: 11px !important;
  }

  .align-end-right {
    justify-content: flex-start !important;
    padding: 0 !important;
  }

  .align-end-left {
    padding-left: 0 !important;
  }

  .container-right-center {
    width: 90% !important;
  }

  .container-right-center-pos{
    height: 80% !important;
  }

  .ctrl-square-c, .ctrl-triangle-c, .ctrl-close-c, .ctrl-circle-c{
    height: 25px;
    width: 25px;
  }

  .w-controls-center {
    display: none !important;
  }

  .m-controls-center{
    display: flex !important;
    background-color: #c3bfbf
  }

  .text-collections{
    width: 100%;
    font-size: 12px !important;
  }

  .footer-links{
    margin-top: 15px;
  }

  .footer-social-links{
    justify-content: center;
  }

  .container-system{
    display: flex;
    flex-direction: column;
  }

  .system-p1{
    font-size: 7cm;
    line-height: 90%;
  }
  
  .system-system{
    font-size: 3em;
    line-height: 90%;
  }

  .footer-newsletter{
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  .footer-container-logo{
    display: flex;
    justify-content: center;
  }

  .size-font-section{
    font-size: 3rem;
  }

  .dropdown{
    padding: 1rem 0;
  }

  .item-dropdown-menu{
    font-size: 16px;
  }
}


.main-container-controls{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.container-main-right-controls{
  display: flex;
  height: 92%;
}

.container-main-bottom-controls{
  display: flex;
  justify-content: center;
  height: 8%;

  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2.3s both;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2.3s both;
}

.container-center-bottom-controls{
  width: 35%;
  display: flex;
}

.container-first-controls, .container-middle-controls, .container-second-controls{
  display: flex;
}

.align-end-right{
  justify-content: flex-end;
  padding-right: 15px;
}

.align-end-left{
  padding-left: 15px;
}

.container-first-controls, .container-second-controls{
  width: 30%;
  align-items: flex-start;
}
.container-middle-controls{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


.phaino-letter-control{
  font-family: futuraControl;
  font-size: 21px;
  cursor: pointer;
  letter-spacing: 16px;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.2);
}


.on-lter-lft {
  color: #707070;
    opacity: 1;
}

.on-lter-rgt {
  color: #707070;
    opacity: 1;
}


.off-lter-lft{
  color: #FFFFFF !important;
    opacity: 1;
}

.off-lter-rgt{
  color: #FFFFFF !important;
  opacity: 1;
}


.on-side{
  background: #707070 0% 0% no-repeat padding-box;
}

.off-side{
  background: #FFFFFF 0% 0% no-repeat padding-box;
}

.on-center {
  border-top: 3px solid #707070;
  border-left: 3px solid #707070;
  border-right: 3px solid #707070;

  background-color: transparent !important;
}

.off-center{
  border-top: 3px solid #FFFFFF;
  border-left: 3px solid #FFFFFF;
  border-right: 3px solid #FFFFFF;

  background-color: transparent !important;
}


.phaino-control-square{
  width:22px;
  height: 22px;
  opacity: 1;
  cursor: pointer;
}

.phaino-control-rectangle {
  width: 78px;
  height: 22px;
  opacity: 1;

  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  cursor: pointer;
}




.container-right-center{
  width: 95%;
}

.container-right-right{
  width: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container-right-center-pos{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;


  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2.3s both;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2.3s both;
}

.icon-ctr-pointer {
  cursor: pointer;
}


@media (prefers-color-scheme: dark) {
  #header { 
    background-color: white;
  }
}